
/**********************************
    ###### Header Section ######
**********************************/
.menu .current-menu-item,
.menu .current_page_item {
    font-weight: 600;
}
@media (min-width: 1024px) {
    .menu .current-menu-item > a::after,
    .menu .current_page_item > a::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -1px; /* distance below text */
        transform: translateX(-50%);
        width: 6px;
        height: 6px;
        border-radius: 9999px;
        background-color: #000000; /* Tailwind blue-700 */
    }
}


/**********************************
    ###### Gallery Section ######
**********************************/
/* Optional – Fancybox already handles fullscreen */
.fancybox__container {
    --fancybox-bg: rgba(0, 0, 0, 0.95);
}
